@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .circular-progress {
      position: relative;
      width: 64px;
      height: 64px;
      background: conic-gradient(
        #10b9ab calc(25 * 1%),
        #d1d5db 0
      );
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
    .circular-progress::before {
      content: '';
      position: absolute;
      width: 55px;
      height: 55px;
      background-color: white;
      border-radius: 50%;
    }
  }
  

  @layer components {
    .circular-progress-60 {
      position: relative;
      width: 64px;
      height: 64px;
      background: conic-gradient(
        #e95858 calc(60 * 1%), 
        #d1d5db 0
      );
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
    .circular-progress-60::before {
      content: '';
      position: absolute;
      width: 55px;
      height: 55px;
      background-color: white;
      border-radius: 50%;
    }
  }
  